// Mobile first styling

// Variables
@breakpoint-desktop:    1025px;     // used with min-width, 1 px greater that iPad

@black:         #000000;
@burlywood:     #DEB887;
@silver:        #C0C0C0;
@yellow:        #C0C000;
@cornflower:    #6495ED;
@cornsilk:      #FFF8DC;
@white:         #fefefe;

@background-color:      @black;
@text-color:            @white;
@link-color:            @burlywood;
@border-color:          @silver;
@text-font-size:        1.8rem;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    text-align: center;
}

body {
    background-color: @background-color;
    color: @text-color;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}

h1 {
    font-size: 3.8rem;
    line-height: 1.2;
    margin: 10px 0 5px;
}

h2 {
    font-size: 2rem;
    margin: 0px 0 0 0;
}

// sections
h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 35px 0 5px;
    text-transform: lowercase;

    &:first-child { margin-top: 0; }
}


// carousel headers
h4 {
    font-size: 1.8rem;
    margin: 0;
}




p {
    font-size: @text-font-size;
    line-height: 1.7;
    margin: 0 0 25px;

    &:last-child { margin-bottom: 0; }
}

ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;

    li { font-size: @text-font-size; }
}

a {
    color: @link-color;
    text-decoration: none;

    &:visited { color: @link-color; }
    &:hover { border-bottom: 1px solid @link-color; }
}

hr {
    background-color: #333;
    color: #333;
    border: none;
    height: 1px;
    margin: 0 auto 25px;
    width: 80%;
}

#container {
    margin: 0 auto;
    padding: 20px 20px 75px;
}


nav {
    float: right;

    a, a:visited {
        color: @white;
        display: inline-block;
        font-size: 3.4rem;
        line-height: 1;
        padding: 2px 0 3px;

        &:hover,
        &:active,
        &.active {
            // color: @cornsilk;
            // border-bottom: 1px solid @cornsilk;
        }
    }

    #up {
        color: #666;
        margin: 0 10px 0 0;
    }

    #down {
        padding-right: 0;
    }

    // &.headroom { transition: transform 200ms linear; }
    // &.headroom--pinned { transform: translateY(0%); }
    // &.headroom--unpinned { transform: translateY(-100%); }
}


header {
    margin: 0 0 30px;

    img {
        height: 71px;
        width: 60px;
    }
}



section {
    margin: 0 0 1000px;

    &:last-child { margin-bottom: 0;}
}




#carousel { opacity: 0; } // avoids flash of markup, set to 1 in JS after carousel init

.slick-track { height: auto; }

.slick-slide {
    background-color: @black;       // hack for smooth text transitions

    img {
        border: 1px solid @border-color;
        // height:155px;
        margin: 0 auto 25px;
        // width: 155px;
    }
}


#listen-on-spotify {
    background: transparent url('../img/social/spotify-playlist.png') no-repeat 0 0;
    .hi-res-bgs( '../img/social/', 'spotify-playlist');
    height: 48px;
    margin: 35px auto;
    width: 250px;
}


.studio {
    border: 1px solid @border-color;
    max-width: 100%;
}


.contact {
    p { margin: 0 0 10px; }
}









//
//  footer
//
footer {
    background-color: #1f1f1f;
    bottom: 0;
    left: 0;
    margin: 10px 0 0;
    padding: 10px 25px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#social {    
    @social-bg-raw-side: image-height('../img/social/social.png');
    @social-bg-raw-spacing: 25px;
    @scale-factor: .4;
    @social-icon-side: @social-bg-raw-side * @scale-factor;

    margin: 0;
    // padding: 10px 0;
    // width: 95%;
    float: left;

    li {
        display: inline-block;
        margin-right: 25px;
        &:last-child { margin: 0; }
    }

    a {
        background-color: transparent;
        background-clip: content-box;
        background-image: url('../img/social/social.png');
        background-origin: content-box;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // utility function for repetitive calculated styles
    .scaled-data(@factor) {
        a {
            height: @social-bg-raw-side * @factor;
            width:  @social-bg-raw-side * @factor;
        }

        #grammy    { background-position: -1*(@social-bg-raw-side + @social-bg-raw-spacing) * @factor 0; }
        #linkedin  { background-position: -2*(@social-bg-raw-side + @social-bg-raw-spacing) * @factor 0; }
        #pinterest { background-position: -3*(@social-bg-raw-side + @social-bg-raw-spacing) * @factor 0; }
        #instagram { background-position: -4*(@social-bg-raw-side + @social-bg-raw-spacing) * @factor 0; }
        #twitter   { background-position: -5*(@social-bg-raw-side + @social-bg-raw-spacing) * @factor 0; }
    }

    .scaled-data(@scale-factor);


    // desktops - tweek the spacing and make a bit smaller
    @media only screen and (min-width: @breakpoint-desktop) {
        @scale-factor: 0.25;
        .scaled-data(@scale-factor);

        li { margin-right: 15px; }
    }
 }